@layer theme, base, antd, components, utilities;

@import 'tailwindcss';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: oklch(255 0 0);
  --color-sidebar: oklch(0.191 0.05 247.271);

  --breakpoint-xs: 480px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1600px;
}

@layer base {
  body {
    @apply bg-white text-black dark:bg-black dark:text-white;
  }
}
